<% provide(:title, "#{@title}") %>
<% if current_user.bookmark_posts.any? %>
  <br>
  <span class="page-sub-title">ブックマークした投稿の数: <%= current_user.bookmark_posts.count %></span>
  <div class="feed jscroll all-microposts" >
    <%= render @microposts %>
  </div>
<% else %>
  <span>ブックマークした投稿はありません</span>
<% end %>

<script>
  $(window).on('scroll', function() {
      scrollHeight = $(document).height();
      scrollPosition = $(window).height() + $(window).scrollTop();
      if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
            $('.jscroll').jscroll({
              contentSelector: '.micropost',
              nextSelector: 'span.next:last a'
            });
      }
  });
</script>