<% provide(:title, "#{@title}") %>
<% if current_user.bookmark_posts.any? %>
  <span><b>ブックマークした投稿の数:</b> <%= current_user.bookmark_posts.count %></span>
  <div class="feed jscroll" >
    <div class="micropost jscroll" >
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    </div>
  </div>
<% else %>
  <span>現在ブックマークした投稿はありません。</span>
<% end %>

<script>
  $(window).on('scroll', function() {
      scrollHeight = $(document).height();
      scrollPosition = $(window).height() + $(window).scrollTop();
      if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
            $('.jscroll').jscroll({
              contentSelector: '.micropost',
              nextSelector: 'span.next:last a'
            });
      }
  });
</script>