<h1>Cate</h1>

<p>Cateアカウントのパスワードを再設定します．</p>
<p>下記URLにアクセスし，新しいパスワードの設定を行ってください．</p>

<p>-----</p>
<%= link_to "パスワードの再設定", edit_password_reset_url(@user.reset_token,
                                                    email: @user.email) %>
<p>-----</p>
<p>example@cate.com</p>