<% provide(:title, "#{@user.name} / 投稿") %>

<%= render 'shared/user_stats' %>

<% if @user.microposts.any? %>
  <div class="all-microposts">
    <ul class="microposts jscroll">
      <%= render @microposts %>
      <%= paginate @microposts %>
    </ul>
  </div>
<% end %>


<script>
  $(window).on('scroll', function() {
      scrollHeight = $(document).height();
      scrollPosition = $(window).height() + $(window).scrollTop();
      if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
            $('.jscroll').jscroll({
              contentSelector: '.microposts',
              nextSelector: 'span.next:last a'
            });
      }
  });
</script>