<% if @user.feed.any? %>
  <div class="all-microposts">
   <%= render @feed_items %>
  </div>
  <%= paginate @feed_items, params: { controller: :static_pages, action: :home } %>
<% end %>

<%
=begin
%>
　マイクロポストを作成した後にhomeに戻るとページのurlがmicropost２になってしまうので
　明治的にcontroller, actionを指定する．
<%
=end
%>