<% provide(:title, "検索") %>
<br>
<div class="search_form-wrap">
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :keyword, :value => @keyword, placeholder: "キーワードを入力" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% if @feed_items.present? %>
  <div class="feed jscroll all-microposts" >
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <span class="search_results">検索結果がありません</span>
<% end %>


<script>
$(window).on('scroll', function() {
  scrollHeight = $(document).height();
  scrollPosition = $(window).height() + $(window).scrollTop();
  if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
        $('.jscroll').jscroll({
          contentSelector: '.feed',
          nextSelector: 'span.next:last a'
        });
  }
});
</script>