<footer class="footer">
  <small>
    <a href="#">Catena</a>
    by <a href="#">Kotaro Yamamoto</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "開発者", '#' %></li>
      <li>© 2020 Catena, Inc.<li>
    </ul>
  </nav>
</footer>
